#card {
    width: 33%;
    padding: 70px 30px;
    display: flex;
    flex-direction: column;
    cursor: pointer;
}

#card:hover {
    background-color: #feb633;
    transition: all 1s;
}

#card h4 {
    font-size: 22px;
    margin-bottom: 5px;
}

#card p {
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
}

.card-modo-claro p {
    color: #8a8fa3;
}

.primeiro-paragrafo {
    margin-bottom: 5px;
}

.segundo-paragrafo {
    margin-bottom: 20px;
}